button {
    width: 13vw;
    height: 7vh;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 3vh;
  }

  .orange {
    background-color: var(--color-orange);
  }

  .grey {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .red {
    background-color: rgba(255, 87, 87, 1);
  }

  .black {
    background-color: black;
  }