#burgerList {
  margin-top: 5vh;
  .burgerListClass {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    .card {
      background-color: rgb(30, 30, 30);
      border: solid 1px rgb(49, 49, 49);
      border-radius: 30px;
      width: 20vw;
      .imgWrapper {
        position: relative;
        width: 100%;
      }

      .imgWrapper img {
        width: 100%;
        border-radius: 30px;
      }

      .overlay {
        position: absolute;
        bottom: 10px;
        right: 8px;
        padding: 0.5em 1em;
        background-color: rgba(255, 87, 87, 1);
        color: white;
        font-weight: bold;
        font-size: 0.9em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        text-align: center;
        z-index: 2;
      }

      img {
        width: 100%;
      }
      .btnWrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 1vh;
        align-items: center;
        gap: 1rem;

        .infoButton {
          margin-top: 3vh;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3rem;
          height: 7vh;
          border-radius: 5px;
          background-color: rgba(255, 255, 255, 0.1);
          color: white;
          font-weight: bold;
          text-decoration: none;
          font-size: 1.2rem;
        }
      }
    }
  }
}
